body {
    display: grid;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
}

header {
    grid-area: header;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;

}

main {
    grid-area: main;
    min-height: 70vh;
    margin: 10px;
    background-color: whitesmoke;
}

.container {
    display: grid;
    grid-template-columns: repeat(autofill, 1fr);
    /*(3, 1fr)*/
    gap: 5px;

}

.container>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: medium;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.form-row {
    text-align: left;
}

.form-group {
    text-align: left;
}

footer {
    grid-area: footer;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    iframe {
        max-width: fit-content;
        min-height: fit-content;
    }
   }

@media screen and (max-width: 576px) {
    iframe {
        max-width: fit-content;
        min-height: fit-content;
    }
 }

@media screen and (max-width: 992px) {
    iframe {
        max-width: fit-content;
        min-height: fit-content;
    }
  }