/* body {
    display: grid;
    grid-template-areas: 
    header header header header
    main main main main
    footer footer footer footer
    ; 
   
} */

header {
    margin: 10px;
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
}

main {
    margin-top: 2%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 5px;
}

.container>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: medium;
}

#divisor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: aqua;
    text-align: center;
      
}

section>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-row {
    text-align: left;
}

.form-group {
    text-align: left;
}

footer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
